  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  * {
    margin: 0;
    box-sizing: border-box;
  }

  .nav {
    background-color: #e0d56e;
    display: flex;
    align-items: center;
  }

  .nav-link {
    width: 18%;
    text-decoration: none;
    padding: 1em;
    color: rgb(109, 75, 2);
  }

  .carrusel-container {
    border: 5px solid black;
    height: 10em;
    overflow:hidden;
  }

  .carrusel-item {
    position: relative;
    background-color: rgb(214, 74, 10);
    height: 10em;
  }

  .carrusel-slides {
    height: 100%;
    width: 100%;

  }

#carrusel-slide-1{
background-color: rgb(132, 134, 226);
}

#carrusel-slide-2{
  background-color: rgb(218, 142, 114);
}

#carrusel-slide-3{
  background-color: rgb(216, 86, 155);
}

  .carrusel-flechas {
    background-color: rgb(180, 33, 136, 0.5);
    height: 10em;
    padding: 2em;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  i{
    color: white;
  }
  .sec {
    display: flex;
    justify-content: center;
  }

  .sec-texto {
    font-family: 'Montserrat', sans-serif;
  }


  @media (max-width:375px) {

    .nav-img {
      display: none;
    }

    .nav-link {
      font-size: 0.7em;
      text-align: center;
    }

    .nav-link:hover {
      background-color: rgb(236, 235, 192);
      color: rgb(109, 75, 2);
      border-radius: 0.4em;
    }

    body {
      background-color: aqua;
    }

    .sec {
      flex-direction: column;
    }

    .sec-image-container {
      display: none;
    }

    .sec-texto {
      padding: 6%;
      font-size: 0.8em;
    }

    .sec-texto-title {
      font-size: 2.18em;
      color: #b68314;
    }
  }

  @media (min-width:375px) and (max-width:765px) {

    .nav-img {
      width: 20%;
    }

    .nav-link {
      font-size: 0.7em;
      text-align: center;
    }

    .nav-link:hover {
      background-color: rgb(236, 235, 192);
      color: rgb(109, 75, 2);
      border-radius: 0.4em;
    }

    body {
      background-color: chartreuse;
    }

    .sec-image-container {
      width: 50%;
      display: flex;
      justify-content: center;
    }

    .sec-image {
      width: 90%;
      height: 85%;
      margin: 2em;
      box-shadow: 5px 5px 1px 1px rgba(88, 88, 88, 0.295);
    }

    .sec-texto {
      width: 50%;
      padding: 4%;
      font-size: 0.9em;
    }

    .sec-texto-title {
      font-size: 2.18em;
      color: #b68314;
    }

  }


  @media (min-width:765px) {

    .nav-img {
      height: 6em;
      width: 22%;
      padding: 0.5em;
    }

    .nav-link {
      font-size: 1.5em;
      text-align: center;
    }

    .nav-link:hover {
      background-color: rgb(236, 235, 192);
      color: rgb(109, 75, 2);
      border-radius: 0.4em;
    }



    .sec {
      max-height: 30em;
      display: flex;
      justify-content: center;
    }

    .sec-image-container {
      width: 50%;
      display: flex;
      justify-content: center;
    }

    .sec-image {
      width: 90%;
      height: 85%;
      margin: 2em;
      box-shadow: 5px 5px 1px 1px rgba(88, 88, 88, 0.295);
    }

    .sec-texto {
      width: 50%;
      padding: 4%;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.9em;
    }

    .sec-texto-title {
      font-size: 2.18em;
      color: #b68314;
    }
  }

  /* personalizacion seccion1 */




  /* Desde aca formulario de contacto */

  /* .contact {
    display: grid;
    font-size: 30px;
    background-color: rgb(223, 204, 145);
    text-align: center;
  }

  .form {
    text-align: center;
    margin: 30%;
    margin-top: 2%;
    margin-bottom: 0px;
  }

  #name,
  #lastn,
  #email,
  #location,
  #text,
  #Provincia,
  #pais {
    padding-top: 20%;
    border-color: rgb(20, 72, 42);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    width: 600px;
    background-color: rgb(245, 246, 246);
    box-shadow: 3px 3px 2px;
  }

  textarea {
    border-color: rgb(20, 72, 42);
    background-color: rgb(245, 246, 246);
    resize: none;
  }

  #sub {
    color: white;
    font-weight: 600;
    padding-top: 20%;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(158, 97, 41);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    width: 300px;
    box-shadow: 2px 2px 2px hwb(0 0% 100% / 0.415);
  }

  ::placeholder {
    padding-left: 3%;
  } */

  /* Aca termina el formulario de contacto */

  /* .dataAdress {
    display: grid;
    border: 20px solid yellow;
    height: 500px;
    background-color: rgb(231, 159, 91);
    grid-template-columns: repeat(2, 50%);
  }

  .adresslist {
    list-style: none;
  }

  .container {
    margin: 0 10%;
  }

  .productos {
    background-color: rgb(223, 204, 145);
  } */