
* {
    margin: 0;
    box-sizing: border-box;
  }

  .nav {
    background-color: #e0d56e;
    /* el display va en el padre  */
    display: flex;
    align-items: center;
  }
  
  .nav-img {
    height: 100px;
    width: 22%;
    padding: 10px;
  }
  .nav-link {
    width: 18%;
    text-decoration: none;
    padding: 30px;
    color: rgb(109, 75, 2);
    font-size: 1.5em;
    text-align: center;
  }
  
  .nav-link:hover {
    background-color: rgb(236, 235, 192);
    color: rgb(109, 75, 2);
    border-radius: 10px;
  }