
* {
    margin: 0;
    box-sizing: border-box;
  
  }

#texto {
    font-size: 1.8em;
    color: black;
}

.dataadress{
    display: flex;
}

.container-dataadress{
    width: 50%;
}

.container-map{
    width: 50%;
}

/* FOOTER */
.foot {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  background-color: #e0d56e;
  text-align: center;
  padding: 10px;
}